@model SimpleVote.UI.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "/Views/Shared/FormLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/mainpage.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
@await Html.PartialAsync("~/Views/Shared/ModalMessage.cshtml")
<div class="container-fluid col-xl-5">

    <form method="post" asp-controller="Account" asp-action="ChangePassword" class="mt-5">
        <div class="form-border">
            <h3>Login</h3>

            <label asp-validation-for="OldPassword">Введіть старий пароль:</label>
            <input type="password" asp-for="OldPassword" placeholder="Старий пароль" />
            <span asp-validation-for="OldPassword" class="text-danger fw-bold d-block"></span>

            <label asp-validation-for="Password">Введіть новий пароль</label>
            <input type="password" asp-for="Password" placeholder="Новий пароль" />
            <span asp-validation-for="Password" class="text-danger fw-bold d-block"></span>

            <label asp-validation-for="ConfirmNewPassword">Підтвердіть новий пароль</label>
            <input type="password" asp-for="ConfirmNewPassword" placeholder="Підтвердіть новий пароль" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger fw-bold d-block"></span>

            <input class="button-login"type="submit" value="Змінити пароль" />
        </div>
    </form>
    <div class="text-danger mt-3 fw-bold d-block" asp-validation-summary="ModelOnly"></div>
</div>
