@model SimpleVote.UI.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/FormLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/css/login.css" rel="stylesheet" />
</head>

<body>
    @await Html.PartialAsync("~/Views/Shared/ModalMessage.cshtml")
    <form method="post" action="~/Account/Register" class="mt-5">
        <div class="form-border">
            <h3>Register</h3>

            <label asp-validation-for="UserName">Name</label>
            <input type="text" asp-for="UserName" placeholder="Your Name" />
            <span asp-validation-for="UserName" class="text-danger fw-bold d-block"></span>

            <label asp-validation-for="Email">Email</label>
            <input type="email" asp-for="Email" placeholder="Your Email" />
             <span asp-validation-for="Email" class="text-danger fw-bold d-block"></span>

            <label asp-validation-for="Password">Password</label>
            <input type="password" asp-for="Password" placeholder="Create Password" />
            <span asp-validation-for="Password" class="text-danger fw-bold d-block"></span>

            <label asp-validation-for="ConfirmPassword">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger fw-bold d-block"></span>

            <input class="button-login"type="submit" value="Create new account" />
        </div>
        <div class="login-links"> 
            <a class="link" href="~/Account/Login">I already have an account</a>
        </div>
    </form>
    <div class="container-fluid col-xl-5">
    <div class="text-danger mt-3 fw-bold d-block position-absolute" asp-validation-summary="ModelOnly"></div>
    </div>
</body>